  :local .greetings-block {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .greetings-avatar {
        width: 400px;
        flex: 1 0 auto;
        float: left;
        margin: 50px 7%;
        max-height: 90%;
        font-family: Josefin Sans, sans-serif;
        cursor: pointer;
        border: 2px solid black;
    }

    .greetings-text-block {
        float: right;
        min-width: 340px;
        margin: 50px 7%;
        max-height: 90%;
        font-size: 2.5vh;
        font-family: Josefin Sans, sans-serif;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background-color: #cefffd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        .greetings-title {
            color: #a0f0ed;
            background-color: black;
            padding: 2% 0;
            font-size: 4.5vh;
        }

        .greetings-text {
            margin: 5% 2%;
          }
    }
  }